.GameScreen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Board {
    position: relative;
    margin: 0 auto;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #000;
    background-image:
        linear-gradient(#333 1px, transparent 1px),
        linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
    background: #ccc;
    position: absolute;
}

.controls {
    margin-right: 5vw;
}

.button {
    margin-left: 12px;
    cursor: pointer;
}

.rulesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}